@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>
<p>@ViewData["Mensagem"]</p>

<address>
    <strong>Informações para Contanto</strong>
    <p>Responsável: @ViewData["Responsavel"]<br>
       E-mail: @ViewData["email"]</p>
</address>
