
@{
    ViewData["Title"] = "Registros de Vendas";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <form class="form-group" asp-action="SimpleSearch">
            <fieldset>
                <legend>Busca Simples</legend>
                <div class="form-group">
                    <div class="col-sm-10 form-inline">
                        <label for="minDate" class="col-form-label mr-1">Data mínima:</label>
                        <input type="date" name="minDate" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10 form-inline">
                        <label for="maxDate" class="control-label mr-1">Data máxima</label>
                        <input type="date" name="maxDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 offset-2">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="form-group" asp-action="GroupingSearch">
            <fieldset>
                <legend>Busca Agrupada</legend>
                <div class="form-group">
                    <div class="col-sm-10 form-inline">
                        <label for="minDate" class="col-form-label mr-1">Data mínima:</label>
                        <input type="date" name="minDate" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10 form-inline">
                        <label for="maxDate" class="control-label mr-1">Data máxima</label>
                        <input type="date" name="maxDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 offset-2">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>